@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
.box {
    animation: float 2s ease-in-out infinite;
  }
  

@font-face {
    font-family: 'cosmic'; /* Name to refer to the font */
    src : url('./assets/Cosmic\ Vibrant.otf')
  }

.zero{
    font-family: 'cosmic';
}
  
.style{
    word-spacing: 40px;
    font-weight: 100;
}

a:hover{
    border-bottom: 1px solid white ;
    opacity: 1;
}
.div2text{
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  left: 50px;
  top: 110vh;
}

.borders{
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 150px;
}

.div2img{
  border-radius: 50%;
  opacity: 0;
}

.b1{
  rotate: -30deg;
  top: 130vh;
  left: 50%;
  /* transition: all s; */
}
.b2{
  rotate: -30deg;
  top: 110vh;
  left: 70%;
  /* flex-direction: column-reverse; */
}

.div2head{
  position: absolute;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: -3px;
  word-spacing: -1px;
}

span{
  border-bottom: 2px solid black;
}


header{
  z-index: 100;
}
/* 
.b1:hover{
  margin-top: -50px;
  margin-left: -50px;
} */

.main3{
  /* display: flex; */
  position: absolute;
  top: 200vh;
}
.page3{
  /* display: flex; */
}
.scroll{
  height: 100vh;
  width: 300vw;
  /* background: rgb(191,71,71);
background: linear-gradient(90deg, rgba(191,71,71,1) 0%, rgba(149,255,186,1) 54%, rgba(65,61,243,1) 100%); */
}
.scroll2{
  height: 100vh;
  width: 100vw;
  background: rgb(49, 96, 8);
}
.scroll3{
  height: 100vh;
  width: 100vw;
  background: rgb(0, 140, 255);
}